NODE_ENV=production
PORT=3000
HAPP_CRYPTO_API=https://crypto.happ.su/api-v2.php
HAPP_CRYPTO_FALLBACK_API=https://crypto.happ.su/api.php
PREFER_LEGACY_DEEPLINK=true
NEW_SUB_BASE_URL=https://happ-crypto.nettovvx.me/api/sub/
REQUEST_TIMEOUT_MS=10000
LOG_LEVEL=info
MINIAPP_RESULT_MODE=happ_add
ALLOW_DEBUG_ENDPOINTS=false
TRUST_PROXY=true
